---
---

$header-bg-color: red;

@import "{{ site.theme }}";

.main-content h1 {
    color: purple;
}

b, strong {
    color: red;
}

.main-content table th, .main-content table td {
	padding: 0.5rem 1rem;
	border: 1px solid #00FF00;
}

body {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 20px;
	line-height: 1.5;
	color: blue;
}
